<form name="signup" action="/auth/signIn" method="post">
    username: <input type="text" name="username" id="username" style="color: #000"> <br>
    password: <input type="password" name="password" id="password" style="color: #000"> <br>
    <input type="submit" value="SIGNIN"class="btn btn-primary btn-lg">
</form>